<div class="wrapper wrapper-content  animated fadeInRight" *ngIf="patientsListData">
    <div class="row">

        <div class="col-md-8">
            <div class="ibox">
                <div class="ibox-content">
            <span>
              <!--<button class="btn btn-primary btn-sm pull-right" (click)="modal.open('lg')"><i class="fa fa-plus"></i> Add Patient</button>-->
            </span>
                    <br><br>
            <span class="text-muted small pull-left ng-binding">Last modification: <i class="fa fa-clock-o"></i> 03/29/2016
            </span>
                    <br>
                    <br>
            <span class="pull-right small text-muted ng-binding"
                  *ngIf="resultCount == 0"> Last 10 Patients Viewed</span>

                    <div class="clients-list">
                        <ul class="nav nav-tabs">

                            <!-- <li [class.active]="tab == 1" class="active"><a (click)="tab = 1" class="ng-binding"><i
                                    class="fa fa-user"></i>&nbsp; {{tabName}}</a>
                            </li> -->
                        </ul>


                        <div class="tab-content container-fluid data-list">
                            <div class="row head-row">
                                <span class="data-list-item col-md-1">MPID</span>
                                <span class="data-list-item col-md-1">Photo</span>
                                <span class="data-list-item col-md-3">Name</span>
                                <span class="data-list-item col-md-2">DOB</span>
                                <span class="data-list-item col-md-2">MRN</span>
                                <span class="data-list-item col-md-3">Phone number</span>
                            </div>
                            <div *ngFor="let patientData of patientsListData"
                                 (click)="setChoosenPatientData(patientData)"
                                 class="row body-row zebra-row"
                                 [class.selected]="patientData === recentPatientData">
                                <span class="data-list-item col-md-1">{{patientData.id}}</span>
                                <span class="data-list-item col-md-1 client-avatar">
                                  <!-- <img *ngIf="patientData.avatar" alt="image" src="{{patientData.avatar}}"> -->
                                  <i  class="fa fa-user"></i>
                                  </span>
                                <span class="data-list-item col-md-3">
                                  {{patientData.firstName}}
                                  {{patientData.lastName}}
                                 </span>
                                <span class="data-list-item col-md-2">{{patientData.dob}}</span>
                                <span class="data-list-item col-md-2">{{patientData.mrn}}</span>
                                <span class="data-list-item col-md-3">{{patientData.hphone || 'not given'}}</span>
                            </div>

                            <div *ngIf="!patientsListData.length" class="alert alert-warning" role="alert">No patients
                                found.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div *ngIf="blockMode" id="block-overlay" class="block-mode"></div>
